deliverables/kasa_ota_monitoring.json
{
  "name": "kasa_takehome",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "395e6181-f4e1-41d8-bbe2-270e468caa14",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Simulated OTA data with anomalies\n  const mockData = [\n    {property_id: \"miami-101\", platform: \"airbnb\", impressions: 45, normal: 150, date: \"2024-08-20\"},\n    {property_id: \"austin-203\", platform: \"booking\", impressions: 50, normal: 200, date: \"2024-08-20\"},\n    {property_id: \"denver-607\", platform: \"airbnb\", impressions: 25, normal: 120, date: \"2024-08-20\"}\n  ];\n\n  // Check for anomalies\n  return mockData.map(property => {\n    const dropPercent = ((property.normal - property.impressions) / property.normal) * 100;\n    return {\n      json: {\n        ...property,\n        anomaly: dropPercent > 30,\n        severity: dropPercent > 60 ? 'critical' : 'high',\n        dropPercent: Math.round(dropPercent),\n        revenueImpact: Math.round(dropPercent * 10) // Simplified calculation\n      }\n    };\n  });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "cd9ff8b7-c861-41bc-bfc5-4cb527b70b19",
      "name": "Code",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9db3ee00-4b91-4cf5-b139-b0154002d60b",
              "leftValue": "={{  $json.anomaly }}",
              "rightValue": "'true'",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "53633661-e679-4550-b3f9-7df260598d01",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "= {\n    \"text\": \"🚨 OTA Anomaly Detected!\",\n    \"blocks\": [\n      {\n        \"type\": \"section\",\n        \"text\": {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Property:* {{ $json.property_id \n  }}\\n*Platform:* {{ $json.platform }}\\n*Severity:* {{ \n  $json.severity }}\\n*Drop:* {{ $json.dropPercent \n  }}%\\n*Revenue Impact:* ${{ $json.revenueImpact }}/day\"\n        }\n      }\n    ]\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -96
      ],
      "id": "e039f109-a7fc-42ce-89de-4674a1577a6e",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f4c6b5c-e351-4bbe-9b72-e2545f5522db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e614bc2c503f55f63ceee6d97ca0ef8336ef14791d0abcdfb3367f3bfb7c7881"
  },
  "id": "RxtYJUu1IhNsYTQx",
  "tags": []
}